body {
    background-color: #008e9d;
    color: white;
    padding-left: 230px;
    padding-top: 40px;
    padding-right: 30px;
    background-image: url("6f3cfdf7c9a5e97c9a55d291fbe129a3-1000.jpg");
    background-attachment: fixed;
    font-family: 'Amatic SC', bold;
    font-size: 25px;
}

.content-wrapper {
    /*padding: 15%;*/

}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #111;*/
  background-color: rgba(255,255,255,0.5);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: blue;
}

input[type=text], input[type=email], input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
label {
  font-size: 20px;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*#form_container {*/
/*  border-radius: 5px;*/
/*  background-color: rgba(255,255,255,0.5);*/
/*  padding: 20px;*/
/*}*/

/*#search_mentor_container{*/
/*  border-radius: 5px;*/
/*  background-color: rgba(255,255,255,0.5);*/
/*  padding: 20px;*/
/*}*/
input[type=submit]:hover {
  background-color: #45a049;
}

td {
  border-bottom: 1px solid white;
  height: 30px;
  width: 100px;
  vertical-align: bottom;
  font-weight: bold;
  text-align: center;
}
thead {
  color: deeppink;
  font-size: 30px;
  font-weight: bold;
}

h2{
  color: deeppink;
}

h1{
  color: transparent;
}

.menu{
  width: 20%;
  font-size: 30px;
  color: deeppink;
  padding-left: 5%;
}

img{
  width: 30%;
  float: left;
  margin: 1.66%;
}

.border{
  border: 20px solid rgba(255,255,255,0.5);
  padding: 20px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
}


hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: deeppink;
    border-width: 1.5px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: deeppink;
    border-width: 0 0 1.5px 0;
    border-radius: 20px;
}

.form_div {
    width: 700px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

.p_border {
    border-left: 5px solid rgba(255,255,255,0.5);
}



