{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('mentor_names') }}">Mentor names</a>
    <a href="{{ url_for('mentor_full_names') }}">Mentor full names</a>
    <a href="{{ url_for('mentor_nicknames') }}">Mentor nick names</a>
    <a href="{{ url_for('applicant_name') }}">Applicant name</a>
    <a href="{{ url_for('applicant_name_by_email') }}">Applicant name by email</a>
    <a href="{{ url_for('insert_applicant_in_database') }}">Insert applicant </a>
    <a href="{{ url_for('applicant_by_application_code') }}">Applicant by code</a>
    <a href="{{ url_for('update_applicant_in_database') }}">Update applicant </a>
    <a href="{{ url_for('applicant_by_full_name') }}">Updated applicant</a>
{% endblock %}
