{% extends "layout.html" %}

{% block content %}
    <div class="sidenav">
        <a href="{{ url_for('search_mentor') }}">Mentor names</a>
        <a href="{{ url_for('mentor_full_names') }}">Mentor full names</a>
        <a href="{{ url_for('mentor_nicknames') }}">Mentor nick names</a>
        <a href="{{ url_for('search_applicant') }}">Applicant name</a>
        <a href="{{ url_for('search_applicant_by_email') }}">Applicant name by email</a>
        <a href="{{ url_for('search_applicant_by_application_code') }}">Applicant by code</a>
        <a href="{{ url_for('search_applicant_by_full_name') }}">Applicant by name</a>
        <a href="{{ url_for('insert') }}">Insert applicant </a>
        <a href="{{ url_for('update') }}">Update applicant </a>
        <a href="{{ url_for('delete') }}">Delete applicant</a>
        <a href="{{ url_for('mentors_full_data') }}">Mentors full data</a>
        <a href="{{ url_for('applicants_full_data') }}">Applicants full data</a>
    </div>

    <nav>
        <a class="menu" href="{{ url_for('home') }}">Home</a>
        <a class="menu" href="#">About</a>
        <a class="menu" href="{{ url_for('gallery') }}">Gallery</a>
        <a class="menu" href="#">Contact</a>
    </nav>
     {% include 'footer.html' %}
{% endblock %}
