{% extends "layout.html" %}

{% block content %}
    {% include 'index.html' %}
    <h2> Please Login:</h2>
    <div id="form_container" class="form_div">
        <form action="{{ url_for('login_page') }}" method="post">
            <label>User
                <input type="text" name="username">
            </label>
            <label> Password
                <input type="password" name="password">
            </label>
            <input type="submit" value="Submit">
        </form>
    </div>
    <br><br>
     {% include 'footer.html' %}
{% endblock %}
