{% extends "layout.html" %}

{% block content %}
    {% include 'index.html' %}
    <div id="mentors">
        {%  if mentor_names %}
            <h2>Mentor name:</h2>
            <ul>
                {% for mentor_name in mentor_names %}
                    <li>
                        {{ mentor_name.first_name + " " + mentor_name.last_name }}
                    </li>
        {% endfor%}
            </ul>
        {% endif %}
    </div>

    {%  if mentor_full_names %}
    <div class="border">
        <table align="center">
            <thead>
                <tr>
                    <td>First name</td>
                    <td>Last name</td>
                </tr>
            </thead>
            <tbody>
                {% for mentor_full_name in mentor_full_names %}
                    <tr>
                        <td>{{ mentor_full_name.first_name }}</td>
                        <td>{{ mentor_full_name.last_name }}</td>
                    </tr>
                {% endfor%}
            </tbody>

        </table>
    </div>
    {% endif %}

    {%  if mentor_nicknames %}
    <div class="border">
        <table align="center">
            <thead>
                <tr>
                    <td>Nick name</td>
                </tr>
            </thead>
            <tbody>
                {% for mentor_nickname in mentor_nicknames %}
                    <tr>
                        <td>{{ mentor_nickname.nick_name }}</td>
                    </tr>
                {% endfor%}
            </tbody>

        </table>
    </div>
    {% endif %}

    <div >
        {% if applicant_names %}
            <h2>Applicant name:</h2>
            {% for applicant_name in applicant_names %}
                {{ applicant_name.full_name + " " + applicant_name.phone_number }}<br/>
            {% endfor%}
        {% endif %}
    </div>

    <div >
        {% if applicant_names_by_email %}
            <h2>Applicant name:</h2>
            {% for applicant_name_by_email in applicant_names_by_email %}
                {{ applicant_name_by_email.full_name + " " + applicant_name_by_email.phone_number }}<br/>
            {% endfor %}
        {% endif %}
    </div>

    <table align="center">
        {%  if applicant_name_by_application_code %}
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone Number</td>
                <td>Email</td>
                <td>Application code</td>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicant_name_by_application_code %}
                <tr>
                    <td>{{ applicant.id }}</td>
                    <td>{{ applicant.first_name }}</td>
                    <td>{{ applicant.last_name }}</td>
                    <td>{{ applicant.phone_number }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.application_code }}</td>
                </tr>
            {% endfor%}
        </tbody>
        {% endif %}
    </table>

    <table>
        {%  if applicant_by_name %}
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone Number</td>
                <td>Email</td>
                <td>Application code</td>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicant_by_name %}
                <tr>
                    <td>{{ applicant.id }}</td>
                    <td>{{ applicant.first_name }}</td>
                    <td>{{ applicant.last_name }}</td>
                    <td>{{ applicant.phone_number }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.application_code }}</td>
                </tr>
            {% endfor%}
        </tbody>
        {% endif %}
    </table>

    <div>
    <table align="center">
        {%  if mentor_names_all %}
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Nick Name</td>
                <td>Phone Number</td>
                <td>Email</td>
                <td>City</td>
                <td>Favourite Number</td>
            </tr>
        </thead>
        <tbody>
            {% for mentor_name in mentor_names_all %}
                <tr>
                    <td>{{ mentor_name.id }}</td>
                    <td>{{ mentor_name.first_name }}</td>
                    <td>{{ mentor_name.last_name }}</td>
                    <td>{{ mentor_name.nick_name }}</td>
                    <td>{{ mentor_name.phone_number }}</td>
                    <td>{{ mentor_name.email }}</td>
                    <td>{{ mentor_name.city }}</td>
                    <td>{{ mentor_name.favourite_number }}</td>
                </tr>
            {% endfor%}        </tbody>
        {% endif %}
    </table>
       </div>

    <table align="center">
        {%  if applicants_names_all %}
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone Number</td>
                <td>Email</td>
                <td>Application code</td>
            </tr>
        </thead>
        <tbody>
            {% for applicant_name in applicants_names_all %}
                <tr>
                    <td>{{ applicant_name.id }}</td>
                    <td>{{ applicant_name.first_name }}</td>
                    <td>{{ applicant_name.last_name }}</td>
                    <td>{{ applicant_name.phone_number }}</td>
                    <td>{{ applicant_name.email }}</td>
                    <td>{{ applicant_name.application_code }}</td>
                </tr>
            {% endfor%}
        </tbody>
        {% endif %}
    </table>

    {% if add_message %}
        <h2 class="message">{{ add_message }}</h2>
    {% endif %}

    {% if update_message %}
        <h2 class="message">{{ update_message }}</h2>
    {% endif %}

    {% if delete_message %}
        <h2 class="message">{{ delete_message }}</h2>
    {% endif %}

    <table align="center">
        {%  if mentor_schools %}
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>School</td>
                <td>Country</td>
            </tr>
        </thead>
        <tbody>
            {% for element in mentor_schools %}
                <tr>
                    <td>{{ element.first_name }}</td>
                    <td>{{ element.last_name }}</td>
                    <td>{{ element.name }}</td>
                    <td>{{ element.country }}</td>
                </tr>
            {% endfor%}
        </tbody>
        {% endif %}
    </table>

    <table align="center">
        {%  if mentor_all_schools %}
        <thead>
            <tr>
                <td>School</td>
                <td>Country</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
        </thead>
        <tbody>
            {% for element in mentor_all_schools %}
                <tr>
                    <td>{{ element.name }}</td>
                    <td>{{ element.country }}</td>
                    <td>{{ element.first_name }}</td>
                    <td>{{ element.last_name }}</td>

                </tr>
            {% endfor%}
        </tbody>
        {% endif %}
    </table>

    <table align="center">
        {%  if mentor_by_country %}
        <thead>
            <tr>
                <td>Country</td>
                <td>Mentors number</td>
            </tr>
        </thead>
        <tbody>
            {% for element in mentor_by_country %}
                <tr>
                    <td>{{ element.country }}</td>
                    <td>{{ element.Count }}</td>
                </tr>
            {% endfor%}
        </tbody>
        {% endif %}
    </table>

    <br><br><br>
    {% include 'footer.html' %}
{% endblock %}
