{% extends "layout.html" %}

{% block content %}
    {% include 'index.html' %}
    <h2> Update applicant:</h2>
    <div id="form_container" class="form_div">
        <form action="{{ url_for('update_applicant_in_database') }}" method="post">
            <label>First Name
                <input type="text" name="first_name">
            </label>
            <label>Last Name
                <input type="text" name="last_name">
            </label>
            <label>Phone Number
                <input type="text" name="phone">
            </label>
            <input type="submit" value="Submit">
        </form>
    </div>
    <br><br>
     {% include 'footer.html' %}
{% endblock %}
